@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

:root {
  --white: #fff;
  --slate-50: #f7fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #585c68;
  font-size: 12px;
  line-height: 22px;
  color: var(--slate-800);
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s ease;
}

a.styled {
  text-decoration: underline solid var(--slate-500);
  text-decoration-thickness: 0.5px;
}

a:hover {
  opacity: 0.8;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.semi-bold {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--slate-700);
}

.resume {
  max-width: 800px;
  width: 100%;
  height: auto;
  display: flex;
}

@media only screen and (max-width: 560px) {
  .resume {
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

.resume .resume_left {
  flex: 1 1 auto;
  min-width: 280px;
  background: linear-gradient(to left top, var(--slate-900), var(--slate-800));
}

.resume .resume_left .resume_profile {
  width: 100%;
  height: 240px;
  padding: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}

.resume .resume_left .resume_profile img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--slate-300);
}

.resume .resume_left .resume_content {
  padding: 0 20px;
}

.resume .title {
  margin-bottom: 15px;
  line-height: 30px;
}

.resume .resume_left .bold {
  color: var(--slate-50);
}

.resume .resume_left .regular {
  color: var(--slate-300);
  font-weight: normal;
  font-size: 14px;
  line-height: 10px;
  margin-top: 10px;
}

.resume .resume_left .regular--sm {
  color: var(--slate-400);
  font-weight: normal;
  font-size: 12px;
}

.resume .resume_item {
  padding: 15px 0;
}

.resume .resume_left .resume_item {
  border-bottom: 2px solid var(--slate-600);
}

.resume .resume_right .resume_item {
  border-bottom: 2px solid var(--slate-200);
}

.resume .resume_right .resume_item .resume_item_title {
  display: flex;
  gap: 10px;
}

.resume .resume_item.resume_about {
  line-height: 18px;
}

.resume .resume_left .resume_item:last-child {
  border-bottom: 0px;
}

.resume .resume_right .resume_item:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
}

.resume .resume_left .resume_item:first-child,
.resume .resume_right .resume_item:first-child {
  padding-top: 0px;
}

.resume .resume_left ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.resume .resume_left ul li:last-child {
  margin-bottom: 0;
}

.resume .resume_left ul li .data {
  color: var(--slate-100);
}

.resume .resume_right {
  max-width: 520px;
  min-width: 280px;
  flex: 0 1 auto;
  background: var(--white);
  padding: 25px;
}

.resume .resume_right .bold {
  color: var(--slate-800);
}

.resume .resume_right .resume_work > ul,
.resume .resume_right .resume_education > ul {
  padding-left: 20px;
  overflow: hidden;
}

.resume .resume_right .resume_work > ul ul,
.resume .resume_right .resume_education > ul ul {
  padding-left: 15px;
  overflow: hidden;
}

.resume .resume_right .resume_hobby ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}

.resume .resume_right .resume_hobby ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 560px) {
  .resume .resume_right .resume_hobby ul {
    gap: 20px;
  }
}

.resume .resume_right .resume_hobby ul li {
  flex: none;
  width: 40px;
  height: 40px;
  border: 2px solid var(--slate-600);
  border-radius: 50%;
  position: relative;
  color: var(--slate-800);
}

.resume .resume_right .resume_hobby ul li i {
  font-size: 20px;
}

.resume .resume_right .resume_hobby ul li:not(:last-child):before {
  content: '';
  position: absolute;
  top: 50%;
  right: calc(-2px - 100%);
  width: 38px;
  height: 2px;
  background: var(--slate-600);
}

@media only screen and (max-width: 560px) {
  .resume .resume_right .resume_hobby ul li:not(:last-child):before {
    right: calc(13px - 100%);
    width: 22px;
  }
}
